---
version: 0.1
log:
  level: info
  fields:
    service: registry

storage:
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry

http:
  addr: ":{{ docker_registry_port }}"

proxy:
  remoteurl: "{{ docker_registry_proxy_url }}"
