job "{{ docker_registry_job_name }}" {
  datacenters = ["{{ meta_datacenter }}"]

  constraint {
    attribute = "${meta.domain}"
    value     = "infra"
  }

  constraint {
    attribute = "${meta.class}"
    value     = "data"
  }

  group "registry" {
    network {
      port "registry" {
        static = {{ docker_registry_port }}
      }
    }

    task "registry" {
      driver = "docker"

      config {
        image = "registry:2"
        ports = ["registry"]
        volumes = [
          "{{ docker_registry_data_dir }}:/var/lib/registry",
          "{{ docker_registry_config_dir }}config.yml:/etc/docker/registry/config.yml"
        ]
        args = ["serve", "/etc/docker/registry/config.yml"]
        dns_servers = ["1.1.1.1"]
      }

      resources {
        cpu    = 100
        memory = 128
      }

      service {
        name = "docker-registry"
        port = "registry"
        tags = ["nomad", "infra"]
        check {
          type     = "tcp"
          interval = "10s"
          timeout  = "2s"
        }
      }
    }
  }
}
