# TYPE  DATABASE        USER            ADDRESS                 METHOD

# Local connections
local   all             all                                     peer

# IPv4 loopback
host    all             all             127.0.0.1/32            md5

# IPv6 loopback
host    all             all             ::1/128                 md5

# Remote access from environment subnet
host    all             all             {{ env_cidr[nodes[0]] }}    md5
