job "firefly_iii" {
  datacenters = ["{{ meta_datacenter }}"]
  type        = "service"

  group "firefly_iii" {
    count = 1

    network {
      port "http" {
        to = 8080
      }
    }

    service {
      name = "firefly_iii"
      port = "http"

      check {
        type     = "http"
        path     = "/"
        interval = "30s"
        timeout  = "5s"
      }
    }

    task "firefly_iii" {
      driver = "docker"

      config {
        image = "fireflyiii/core:{{ firefly_iii_version }}"
        ports = ["http"]
        volumes = [
          "{{ nfs_paths['home']['firefly_iii'].nfs_mount_path }}:/var/www/html/storage"
        ]
      }

      env {
        DB_HOST           = "{{ firefly.environment.DB_HOST }}"
        DB_PORT           = "{{ firefly.environment.DB_PORT }}"
        DB_DATABASE       = "{{ firefly.environment.DB_NAME }}"
        DB_USERNAME       = "{{ firefly.environment.DB_USER }}"
        DB_PASSWORD       = "{{ firefly.environment.DB_PASSWORD }}"
        APP_KEY           = "{{ firefly.environment.APP_KEY }}"
        TRUSTED_PROXIES   = "{{ firefly.environment.TRUSTED_PROXIES }}"
        SITE_OWNER        = "{{ firefly.environment.SITE_OWNER }}"
      }

      resources {
        cpu    = 500
        memory = 512
      }

      restart {
        attempts = 3
        interval = "30s"
        delay    = "15s"
        mode     = "delay"
      }
    }
  }
}
