job "{{ n8n_nomad_job_name }}" {
  datacenters = ["{{ meta_datacenter }}"]

  group "n8n" {
    constraint {
      attribute = "${meta.domain}"
      operator  = "="
      value     = "ai"
    }

    constraint {
      attribute = "${meta.class}"
      operator  = "="
      value     = "compute"
    }

    volume "n8n_data" {
      type      = "host"
      source    = "n8n_data"
      read_only = false
    }

    task "n8n" {
      driver = "docker"

      config {
        image   = "{{ n8n_nomad_image }}"
        network_mode  = "host"
      }

      env = {
        {% for key, value in n8n_env.items() %}
        {{ key }} = "{{ value }}"
        {% endfor %}
      }

      service {
        name = "n8n"
        tags = ["urlprefix-/n8n strip=/n8n"]
        check {
          type          = "http"
          port          = {{ n8n_http_port }}
          address_mode  = "driver"
          path          = "/"
          interval      = "10s"
          timeout       = "2s"
        }
      }

      resources {
        cpu    = 500
        memory = 512
      }

      volume_mount {
        volume      = "n8n_data"
        destination = "/home/node/.n8n"
        read_only   = false
      }
    }
  }
}
