# Global
datacenter = "{{ meta_datacenter }}"
data_dir   = "{{ nomad_data_dir }}"
bind_addr  = "{{ nomad_bind_addr }}"

# Client mode
client {
  enabled = true
  servers = {{ nomad_servers_rpc | to_json }}

  meta {
    environment = "{{ nodes[0] }}"
    datacenter  = "{{ nomad_datacenter }}"
    domain      = "{{ meta_domain | default('') }}"
    class       = "{{ meta_class | default('') }}"
  }

  options {
    "docker.volumes.enabled" = true
    # "docker.privileged.enabled" = true
  }

  {% for vol in node_host_volumes %}
  host_volume "{{ vol.name }}" {
    path      = "{{ vol.path }}"
    read_only = {{ vol.read_only | bool | lower }}
  }
  {% endfor %}
}
