scope: {{ item.name }}
name: {{ inventory_hostname }}

restapi:
  listen: 0.0.0.0:8008
  connect_address: {{ ansible_host }}:8008

{{ postgres_dcs_config_type }}:
  {% if postgres_dcs_config_type == 'etcd' -%}
  host: {{ postgres_etcd_host }}
  {% elif postgres_dcs_config_type == 'consul' -%}
  host: {{ postgres_consul_host }}
  register_service: true
  {% endif %}

postgresql:
  listen: 0.0.0.0:5432
  connect_address: {{ ansible_host }}:5432
  data_dir: /var/lib/postgresql/data

  authentication:
    superuser:
      username: postgres
      password: {{ item.credentials.password }}
    replication:
      username: replicator
      password: {{ item.credentials.replication_password | default('replpass') }}

  parameters:
    wal_level: replica
    max_wal_senders: 10
    max_replication_slots: 10
    timescaledb.telemetry_level: off
    shared_preload_libraries: timescaledb
